.dots {
    display: inline-flex;
    flex-direction: row-reverse;
    margin-left: 20px;
}

.dot1, .dot2, .dot3, .dot4, .dot5 {
    height: 20px;
    width: 20px;
    background-color: #D7DCE8;
    border-radius: 50%;
    border: none;
    transition: 0.1s ease-in-out;
    margin: 2px;
}

.dot1:focus, .dot2:focus, .dot3:focus, .dot4:focus, .dot5:focus {
    outline: none;
}

.dot5:hover {
    background-color: #992b2b;
}

.dot4:hover, .dot4:hover~.dot5 {
    background-color: #be6c1f;
}

.dot3:hover, .dot3:hover~.dot4, .dot3:hover~.dot5 {
    background-color: #d4c53d;
}

.dot2:hover, .dot2:hover~.dot3, .dot2:hover~.dot4, .dot2:hover~.dot5 {
    background-color: #71d321;
}

.dot1:hover, .dot1:hover~.dot2, .dot1:hover~.dot3, .dot1:hover~.dot4, .dot1:hover~.dot5 {
    background-color: #01a332;
}

.dot5:focus {
    background-color: #992b2b;
}

.dot4:focus, .dot4:focus~.dot5 {
    background-color: #be6c1f;
}

.dot3:focus, .dot3:focus~.dot4, .dot3:focus~.dot5 {
    background-color: #d4c53d;
}

.dot2:focus, .dot2:focus~.dot3, .dot2:focus~.dot4, .dot2:focus~.dot5 {
    background-color: #71d321;
}

.dot1:focus, .dot1:focus~.dot2, .dot1:focus~.dot3, .dot1:focus~.dot4, .dot1:focus~.dot5 {
    background-color: #01a332;
}

.full-dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    margin: 0.5px;
    display: inline-block;
}

.half-dot {
    height: 20px;
    width: 10px;
    border-radius: 10px 0 0 10px;
    border: none;
    margin: 0.5px;
    display: inline-block;
}

.color1 {
    background-color: #992b2b;
}

.color2 {
    background-color: #be6c1f;
}

.color3 {
    background-color: #d4c53d;
}

.color4 {
    background-color: #71d321;
}

.color5 {
    background-color: #01a332;
}